
@{
    ViewBag.Title = "AddQueue";
}

<h2>AddQueue</h2>

@using (Html.BeginForm())
{
    <label>Message</label>
    <input type="text" name="name" value="" />
    <input type="submit" name="sdf" value="" />

}